{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome Sonam</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'changepassword' %}" class="btn btn-primary">Change Password</a></li>


   </ul>
  </div>
  <div class="col-sm-8 offset-sm-1">
    
     
      <h1 class="text-success">Password Changed Successfully!!</h1>

      <div><iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="600" frameBorder="0" class="giphy-embed" allowfullscreen ></iframe>

      </div>
      <br>
      
      <br>
        
     
  </div>
 </div>
</div>
{% endblock main-content %}